<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebankingApp.transaction.home.title">Transactions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebankingApp.transaction.home.createLabel">
            Create new Transaction
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="transactions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ebankingApp.transaction.value">Value</span></th>
            <th><span jhiTranslate="ebankingApp.transaction.verwendungszweck">Verwendungszweck</span></th>
            <th><span jhiTranslate="ebankingApp.transaction.zahlungsreferenz">Zahlungsreferenz</span></th>
            <th><span jhiTranslate="ebankingApp.transaction.sender">Sender</span></th>
            <th><span jhiTranslate="ebankingApp.transaction.receiver">Receiver</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td><a [routerLink]="['/transaction', transaction.id, 'view' ]">{{transaction.id}}</a></td>
                <td>{{transaction.value}}</td>
                <td>{{transaction.verwendungszweck}}</td>
                <td>{{transaction.zahlungsreferenz}}</td>
                <td>
                    <div *ngIf="transaction.sender">
                        <a [routerLink]="['../bank-account', transaction.sender?.id, 'view' ]" >{{transaction.sender?.iban}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transaction.receiver">
                        <a [routerLink]="['../bank-account', transaction.receiver?.id, 'view' ]" >{{transaction.receiver?.iban}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction', transaction.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'transaction', { outlets: { popup: transaction.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
