<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="ebankingApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebankingApp.transaction.value">Value</span></dt>
                <dd>
                    <span>{{transaction.value}}</span>
                </dd>
                <dt><span jhiTranslate="ebankingApp.transaction.verwendungszweck">Verwendungszweck</span></dt>
                <dd>
                    <span>{{transaction.verwendungszweck}}</span>
                </dd>
                <dt><span jhiTranslate="ebankingApp.transaction.zahlungsreferenz">Zahlungsreferenz</span></dt>
                <dd>
                    <span>{{transaction.zahlungsreferenz}}</span>
                </dd>
                <dt><span jhiTranslate="ebankingApp.transaction.sender">Sender</span></dt>
                <dd>
                    <div *ngIf="transaction.sender">
                        <a [routerLink]="['/bank-account', transaction.sender?.id, 'view']">{{transaction.sender?.iban}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ebankingApp.transaction.receiver">Receiver</span></dt>
                <dd>
                    <div *ngIf="transaction.receiver">
                        <a [routerLink]="['/bank-account', transaction.receiver?.id, 'view']">{{transaction.receiver?.iban}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
