<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading" jhiTranslate="ebankingApp.transaction.home.createOrEditLabel">Create or edit a Transaction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!transaction.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.transaction.value" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                    <div *ngIf="editForm.get('value').invalid && (editForm.get('value').dirty || editForm.get('value').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('value').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('value')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.transaction.verwendungszweck" for="field_verwendungszweck">Verwendungszweck</label>
                    <input type="text" class="form-control" name="verwendungszweck" id="field_verwendungszweck"
                           formControlName="verwendungszweck"/>
                    <div *ngIf="editForm.get('verwendungszweck').invalid && (editForm.get('verwendungszweck').dirty || editForm.get('verwendungszweck').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('verwendungszweck').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.transaction.zahlungsreferenz" for="field_zahlungsreferenz">Zahlungsreferenz</label>
                    <input type="text" class="form-control" name="zahlungsreferenz" id="field_zahlungsreferenz"
                           formControlName="zahlungsreferenz"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.transaction.sender" for="field_sender">Sender</label>
                    <select class="form-control" id="field_sender" name="sender" formControlName="sender">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankAccountOption.id === editForm.get('sender').value?.id ? editForm.get('sender').value : bankAccountOption" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.iban}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.transaction.receiver" for="field_receiver">Receiver</label>
                    <select class="form-control" id="field_receiver" name="receiver" formControlName="receiver">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankAccountOption.id === editForm.get('receiver').value?.id ? editForm.get('receiver').value : bankAccountOption" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackBankAccountById">{{bankAccountOption.iban}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
