<div>
    <h2 id="page-heading">
        <span jhiTranslate="ebankingApp.bankAccount.home.title">Bank Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bank-account" [routerLink]="['/bank-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ebankingApp.bankAccount.home.createLabel">
            Create new Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bankAccounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ebankingApp.bankAccount.iban">Iban</span></th>
            <th><span jhiTranslate="ebankingApp.bankAccount.bic">Bic</span></th>
            <th><span jhiTranslate="ebankingApp.bankAccount.balance">Balance</span></th>
            <th><span jhiTranslate="ebankingApp.bankAccount.userid">Userid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankAccount of bankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/bank-account', bankAccount.id, 'view' ]">{{bankAccount.id}}</a></td>
                <td>{{bankAccount.iban}}</td>
                <td>{{bankAccount.bic}}</td>
                <td>{{bankAccount.balance}}</td>
                <td>
                    {{bankAccount.userid?.firstName}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/bank-account', bankAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'bank-account', { outlets: { popup: bankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
