<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bankAccount">
            <h2><span jhiTranslate="ebankingApp.bankAccount.detail.title">Bank Account</span> {{bankAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ebankingApp.bankAccount.iban">Iban</span></dt>
                <dd>
                    <span>{{bankAccount.iban}}</span>
                </dd>
                <dt><span jhiTranslate="ebankingApp.bankAccount.bic">Bic</span></dt>
                <dd>
                    <span>{{bankAccount.bic}}</span>
                </dd>
                <dt><span jhiTranslate="ebankingApp.bankAccount.balance">Balance</span></dt>
                <dd>
                    <span>{{bankAccount.balance}}</span>
                </dd>
                <dt><span jhiTranslate="ebankingApp.bankAccount.userid">Userid</span></dt>
                <dd>
                    {{bankAccount.userid?.firstName}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bank-account', bankAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
