<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bank-account-heading" jhiTranslate="ebankingApp.bankAccount.home.createOrEditLabel">Create or edit a Bank Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bankAccount.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.bankAccount.iban" for="field_iban">Iban</label>
                    <input type="text" class="form-control" name="iban" id="field_iban"
                           formControlName="iban"/>
                    <div *ngIf="editForm.get('iban').invalid && (editForm.get('iban').dirty || editForm.get('iban').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('iban').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.bankAccount.bic" for="field_bic">Bic</label>
                    <input type="text" class="form-control" name="bic" id="field_bic"
                           formControlName="bic"/>
                    <div *ngIf="editForm.get('bic').invalid && (editForm.get('bic').dirty || editForm.get('bic').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bic').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.bankAccount.balance" for="field_balance">Balance</label>
                    <input type="number" class="form-control" name="balance" id="field_balance"
                           formControlName="balance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ebankingApp.bankAccount.userid" for="field_userid">Userid</label>
                    <select class="form-control" id="field_userid" name="userid" formControlName="userid">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('userid').value?.id ? editForm.get('userid').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
